---
layout: page
title: Games
style: games
short_description: All the games currently released and in development from Wheeler Games.
---
<div class="games-container">
  <div class="store-bar">
    <div class="android-store">
      <a href="https://play.google.com/store/apps/developer?id=Wheeler+Games" style="display:block;">
        <img src="/assets/images/google-play-badge.png">
      </a>
    </div>
    <div class="ios-store">
      <a href="https://apps.apple.com/gb/developer/russell-wheeler/id1510580508"><img src="/assets/images/app-store-badge.svg"></a>
    </div>
  </div>
  <div class="game_blocks">
    {% assign all_games = site.games | sort: "launch_date" | reverse %}
    {% for game in all_games %}
      {% include game_block.html %}
  {% endfor %}
  </div>
</div>