.feeds {
    display:grid;
    grid-template-columns: 10px 1fr 1fr 10px;
    column-gap: 10px;
}

.feeds .news_feed {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
}

.feeds .blog_feed {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
}

@media only screen and (max-width: 825px) {
    .feeds {
        display:grid;
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 10px 1fr 0.1fr 1fr 10px;
        column-gap: 10px;
    }

    .feeds .news_feed {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        justify-self: center;
    }

    .feeds .blog_feed {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
        justify-self: center;
    }
}


/* slider-wrapper */
.slider-wrapper {
  display: grid;
  position: relative;
  width: 100%;
  height: 33vw;
/*  max-height: 500px;
  min-height: 300px;*/
  background: #fff;
  overflow: hidden;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: auto fit-content auto;
}

.slider-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* slider-img */
ul.slider-img {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 0.5s;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

ul.slider-img li {
  flex: 1 0 100%;
}

ul.slider-img li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-arrows {
    z-index: 5;
    justify-self: center;
    color:#ff5fee;
    font-size:2rem;
    grid-row: 2 / span 1;
}

.carousel-arrows div:hover {
  opacity: 1;
}

.arrow-left {
    grid-column: 1 / span 1;
}

.arrow-right {
    grid-column: 3 / span 1;
}


ul.slider-arrow li {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 0 15px;
  opacity: 0.4;
  transition: 0.5s;
}

ul.slider-arrow li:hover {
  opacity: 1;
}

/* slider-dot */
.slider-dot {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  color: #ff5fee;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.slider-dot li {
  cursor: pointer;
  margin: 0 8px;
  font-size: 0.6rem;
  opacity: 0.4;
}

.slider-dot li.active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .slider-dot li {
    margin: 0 12px;
    font-size: 0.95rem;
  }
}


.carousel_container {
    display: flex;
    align-items: center;
    justify-content: center;
}


ul.slider-arrow {
  position:relative;
  color:#ff5fee;
  font-size:2rem;
  display: flex;
  justify-content: space-between;
  height:100%;
  width:100%;
  text-shadow:2px 2px 5px rgba(0,0,0,0.6);
}


